<div class="list-group">
  

  <a (click)="suenaNota(1)" class="list-group-item list-group-item-action list-group-item-primary">DO</a>
  <a (click)="suenaNota(2)" class="list-group-item list-group-item-action list-group-item-secondary">RE</a>
  <a (click)="suenaNota(3)" class="list-group-item list-group-item-action list-group-item-success">MI</a>
  <a (click)="suenaNota(4)" class="list-group-item list-group-item-action list-group-item-danger">FA</a>
  <a (click)="suenaNota(5)" class="list-group-item list-group-item-action list-group-item-warning">SOL</a>
  <a (click)="suenaNota(6)" class="list-group-item list-group-item-action list-group-item-info">LA</a>
  <a (click)="suenaNota(7)" class="list-group-item list-group-item-action list-group-item-light">SI</a>
</div>
